
.cart-items-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem 12rem;
    justify-content: center;
    margin: auto;
    margin-top: 16px;
    background-color: var(--cor-quaternaria);
    padding: 24px;
}

.cart-items-container .cart-item {
    display: flex;
    align-items: center;
    width: 15rem;
    background-color: white;
    box-shadow: var(--cor-secundaria) 0.4em 0.4em 0.4em;
    height: 20rem;
    border-radius: 12px;
}

.cart-items-container .cart-item .itens-sofa {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    width: 15rem;
}

.cart-items-container .cart-item .itens-sofa:hover {
    color: var(--cor-pricipal);
}

.cart-items-container .cart-item img {
    height: 7rem;
    width: 15rem;
}

.cart-items-container .cart-item .content h3 {
    font-size: 1rem;
    color: var(--cor-pricipal);
    font-family: var(--fonte-secundaria);
    padding-bottom: .5rem;
}

.cart-items-container .cart-item .content .price {
    font-size: 1rem;
    color: var(--cor-pricipal);
    font-family: var(--fonte-secundaria);
}

.titulo, .box_onepiece h1, .box_onepunch h1 {
    font-family: var(--fonte-principal);
    text-align: center;
    color: var(--cor-pricipal);
    text-shadow: var(--cor-secundaria) 0.4em 0.2em 0.4em;
    margin-top: 5%;
    margin-bottom: 1%;
}

.C-titulo p, .box_onepiece p, .box_onepunch p  {
    font-family: var(--fonte-secundaria);
    color: var(--cor-quintenaria);
    text-align: center;
    margin: auto;
    width: 60vw;
    margin-bottom: 2%;
}

.box_onepiece h1, p {
    justify-content: center;
    align-items: center;
    display: flex;
}

.box_onepunch h1, p {
    justify-content: center;
    align-items: center;
    display: flex;
}


@media (max-width: 768px) {
    .cart-items-container {
        gap: 2rem 6rem;
        width: 80vw;
        padding: 16px;
    }

    .cart-items-container .cart-item {
        width: 12rem;
    }
}