@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto+Condensed:wght@600&family=Ubuntu&display=swap");

:root {
    --cor-pricipal: #00398f;
    --cor-secundaria: #4d7ec7;
    --cor-terciaria: #99c2ff;
    --cor-quaternaria: #ebf3ff;
    --cor-quintenaria: #000001;

    --fonte-logo: "New Amsterdam", sans-serif;
    --fonte-principal: "Nunito Sans", sans-serif;
    --fonte-secundaria: "Roboto Condensed", sans-serif;
    --fonte-terciaria: "Ubuntu", sans-serif;

    font-size: 16px;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-quaternaria);
    color: var(--cor-quintenaria);
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.cabecalho__logo {
    margin-bottom: 0.5rem;
}

.cabecalho__menu {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.link-logo {
    font-family: var(--fonte-logo);
    color: var(--cor-quaternaria);
    font-size: 3rem;
}

.cabecalho__menu {
    display: flex;
    gap: 1.25rem;
}

.menu {
    color: var(--cor-quaternaria);
    font-family: var(--fonte-terciaria);
}

.rodape {
    background-color: var(--cor-pricipal);
    color: var(--cor-quaternaria);
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.icones__links {
    display: inline;
}

.rodape__paragrafo {
    margin-top: -15px;
}

@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .cabecalho__menu {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .cart-items-container {
        gap: 2rem 6rem;
        width: 80vw;
        padding: 16px;
    }

    .cart-items-container .cart-item {
        width: 12rem;
    }
}

.cart-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem 12rem;
    width: 60vw;
    margin: auto;
    margin-top: 16px;
    background-color: var(--cor-quaternaria);
    padding: 24px;
}

.cart-items-container .cart-item {
    display: flex;
    align-items: center;
    width: 15rem;
    background-color: white;
    box-shadow: var(--cor-secundaria) 0.4em 0.4em 0.4em;
    height: 20rem;
    border-radius: 12px;
}

.cart-items-container .cart-item .itens-sofa {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    width: 15rem;
}

.cart-items-container .cart-item .itens-sofa:hover {
    color: var(--cor-pricipal);
}

.cart-items-container .cart-item img {
    height: 7rem;
    width: 15rem;
}

.cart-items-container .cart-item .content h3 {
    font-size: 1rem;
    color: var(--cor-pricipal);
    font-family: var(--fonte-secundaria);
    padding-bottom: .5rem;
}

.cart-items-container .cart-item .content .price {
    font-size: 1rem;
    color: var(--cor-pricipal);
    font-family: var(--fonte-secundaria);
}

.titulo {
    font-family: var(--fonte-principal);
    text-align: center;
    color: var(--cor-pricipal);
    text-shadow: var(--cor-secundaria) 0.4em 0.2em 0.4em;
    margin-top: 5%;
    margin-bottom: 2%;
}

.C-titulo p {
    font-family: var(--fonte-secundaria);
    color: var(--cor-quintenaria);
    text-align: center;
    margin: auto;
    width: 60vw;
    margin-bottom: 2%;
}

@media screen and (max-width: 480px) {
    .cabecalho__menu {
        flex-direction: column;
        align-items: flex-start;
    }
}